<div align="center">
  <h3>Contácto</h3>

  <%= simple_form_for @message, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :phone_number  %>
    <%= f.input :body, :as => :text, :required => true %>
      </br>
      <%= f.button :submit, 'Envía', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>
