<div align="center" style ="margin-top: 190px">
  <h3>Contácto</h3>

Puedes escribirnos a la siguiente dirección de correo :
ucronía....
Puedes enviarnos la informacion de tu participacion en la pelicula para eso debes incluir:
título de la pelicula
nombre completo
cargo desarrollado

  <%= simple_form_for @message, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :phone_number  %>
    <%= f.input :body, :as => :text, :required => true %>
      </br>
      <%= f.button :submit, 'Envía', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>
