<div align="center" style ="margin-top: 190px">
  <h3>Contácto</h3>

Puedes escribirnos a la siguiente dirección de correo :
ucronía....
Puedes enviarnos la informacion de tu participacion en la pelicula para eso debes incluir:
título de la pelicula
nombre completo
cargo desarrollado

 <%= simple_form_for @message, url: create_message_url do |f| %>
  <%= notice %>
  <%= @message.errors.full_messages.join(', ') %>

  <%= f.text_field :name, placeholder: 'name' %>
  <%= f.email_field :email, placeholder: 'email' %>
  <%= f.text_area :body, placeholder: 'body' %>
  <%= f.submit 'Send' %>
<% end %>
</div>
