<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo2.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">



      <!-- Links when logged in -->
      <%= link_to "Voces y discursos", root_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Lo que muestran los números", graficosgenerales_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Representación por cada rol", graficos_path, class: "navbar-wagon-item navbar-wagon-link" %>
       <%= link_to "Películas", peliculas_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Roles", rols_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Contácto",  class: "navbar-wagon-item navbar-wagon-link" %>
  <!--     <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %> -->

  </div>
     <!-- Login link (when logged out) -->


  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Voces y discursos", root_path %></li>
        <li><%= link_to "Lo que muestran los números", graficosgenerales_path %></li>
        <li><%= link_to "Representación por cada rol", graficos_path %></li>
        <li> <%= link_to "Películas", peliculas_path %></li>
        <li><%= link_to "Roles", rols_path %></li>
        <li><%= link_to "Contácto" %></li>
      </ul>
    </div>
  </div>
</div>

