  <div class="container-fluid inner">
  <table class="tableizer-table" id= "simple">
  <tr class="tableizer-firstrow">
    <% @rols = methrols(rol) %>
    <% @rols.each do |rol| %>
<tr>
  <th>Nombre</th>
  <th><td><ul>
        <li data-rol-id="<%= rol.personaje.id %>"><%= rol.personaje.name %>
            <%= link_to personaje_path(rol.personaje), method: :delete, remote: true do %>
            <i class="fa fa-users" aria-hidden="true"></i>
            <% end %>
              <% if rol.personaje.genero == true %>
              <%= link_to 'mujer', deactivate_personaje_path(rol.personaje), class: 'btn btn-danger', method: :patch , remote: true %>
              <% elsif rol.personaje.genero == false %>
              <%= link_to 'hombre', activate_personaje_path(rol.personaje), class: 'btn btn-primary',
              method: :patch , remote: true %>
              <% end %>
           </li>
           <% end %>
        <ul>
        </th>
</tr>

