  <div class="container-fluid inner">
  <table class="tableizer-table" id= "simple">
  <tr class="tableizer-firstrow">
<tr>
  <th>Número </th>
  <th>Título de película</th>
  <th>Cargo</th>
  <th>Nombre</th>
</tr>
<tr>
    <% @rols.each_with_index do |rol, index| %>
    <% rol %>
  <th><%= index +1 %></th>
  <th><%= rol.pelicula.titulo %></th>
  <th><%= rol.name %></th>
  <th><ul>
        <li data-rol-id="<%= rol.personaje.id %>"><%= rol.personaje.name %>
            <%= link_to personaje_path(rol.personaje), method: :delete, remote: true do %>
            <i class="fa fa-users" aria-hidden="true"></i>
            <% end %>
        <% if rol.personaje.genero == "Mujer" %>
              <%= link_to 'mujer', deactivate_personaje_path(rol.personaje), class: 'btn btn-danger', method: :patch , remote: true %>
               <%= link_to 'Otro', empresa_personaje_path(rol.personaje), class: 'btn btn-primary',
              method: :patch , remote: true %>
              <% elsif rol.personaje.genero == "Hombre" %>
              <%= link_to 'hombre', activate_personaje_path(rol.personaje), class: 'btn btn-primary',
              method: :patch , remote: true %>
               <%= link_to 'Otro', empresa_personaje_path(rol.personaje), class: 'btn btn-warning',
              method: :patch , remote: true %>
               <% elsif rol.personaje.genero == "Empresa" %>
                <%= link_to 'hombre', activate_personaje_path(rol.personaje), class: 'btn btn-primary',
              method: :patch , remote: true %>
               <%= link_to 'mujer', deactivate_personaje_path(rol.personaje), class: 'btn btn-danger', method: :patch , remote: true %>
              <% end %>
           </li>

        <ul>
    </th>
</tr>
 <% end %>
 </table>
