<h1><% titulo= params[:id] %>
  <%= titulo.upcase %>
</h1>
<div class="rowf">
<div id="chartContainer" style="height: 200px; width: 400px; "></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<% m=[] %>
<% h=[] %>
<% o=[] %>
<% @personajes.each do |per| %>
  <%  if per.genero== "Mujer" %>
    <%  m<< per %>
  <% elsif per.genero == "Hombre" %>
    <%  h << per %>
     <% elsif per.genero == "Otro" %>
    <%  o << per %>
  <% end %>
<% end %>
<script>
  window.onload = function () {

  var chart = new CanvasJS.Chart("chartContainer", {
    animationEnabled: true,
    title:{
    },
    data: [{
      type: "doughnut",
      startAngle: 60,
      dataPoints: [
      <% hombre="Hombre" %>
      <% mujer="Mujer" %>
      <% mujer="Otros" %>
        { y: <%= h.count %>, label: "Hombres" },
        { y: <%= m.count %>, label: "Mujeres" },
        { y: <%= o.count %>, label: "Otros" },
      ]
    }]
  });
  chart.render();

  }
</script>
</div>
</div>

<div class="container-fluid inner">
  <table class="tableizer-table" id= "simple">
  <tr class="tableizer-firstrow">
    <th>Número</th>
    <th>Nombre</th>
    <th>Sexo</th>
    <th>Rol ocupado en cada película</th>
 <!--    <th>Edita</th> -->
  </tr>
      <tr>
        <% @personajes2 = @personajes.sort_by(&:name) %>
        <% @personajes2.each_with_index do |per, index| %>
        <td><%= index+1 %></td>
        <td><%= per.name %></td>
         <td><%= per.genero %></td>
         <td> <ul>
          <%  @rol= Rol.where(personaje_id: per.id) %>
           <% @rol.each do |rol| %>
           <% peli = rol.pelicula %>
        <ol><%= rol.name %> ==>  <%= link_to "#{rol.pelicula.titulo}", pelicula_path(peli) %></ol>
          </ul><% end %>
         </td>
       <!--  <td><%= link_to "doble", personaje_path(per), class: 'btn btn-info', method: :delete, remote: true %>
      <% if per.genero == "Mujer" %>
        <%= link_to 'mujer', deactivate_personaje_path(per), class: 'btn btn-danger', method: :patch , remote: true %>
         <%= link_to 'Otro', empresa_personaje_path(per), class: 'btn btn-primary',
        method: :patch , remote: true %>
      <% elsif per.genero == "Hombre" %>
          <%= link_to 'hombre', activate_personaje_path(per), class: 'btn btn-primary',
          method: :patch , remote: true %>
           <%= link_to 'Otro', empresa_personaje_path(per), class: 'btn btn-warning',
          method: :patch , remote: true %>
      <% elsif per.genero == "Otro" %>
          <%= link_to 'hombre', activate_personaje_path(per), class: 'btn btn-primary',
        method: :patch , remote: true %>
         <%= link_to 'mujer', deactivate_personaje_path(per), class: 'btn btn-danger', method: :patch , remote: true %>
              <% end %>
            </td> -->
         </tr>
         <% end %>
  </table>
</div>
