   <div class="containerbox">
    <div class="boxed">
          <h2 style= "row">Los resultados del análisis cuantitativo muestran que del total de las 335 películas realizadas entre los años 2005 al 2015, 71 fueron dirigidas por una mujer lo que equivale al 21.19% del total , 241 fueron dirigida por un hombre representado el 71.94% del total y 64 películas quedaron sin identificar, correspondiendo al 19% del total.Este número se eleva los últimos años debido al largo proceso de término de una película,  por lo que no existen los datos actualizados de sus fichas técnicas en las bases de datos públicas.
        <br>
        <br>
    </div>
    <div class="boxes-right">
    <div class="boxedar">
      <h1>Cuadro resumen de la información recopilada</h1>

335 Películas financiadas por CORFO Y FONDART entre los años 2005 al 2015
2.908 Personas  participaron en la creación de la película como técnicos o elenco.
5.549 Roles de trabajo, se consideran diferentes roles de una misma persona. De esta manera, Un director puede haber trabajado como guionista y se cuenta como dos roles distintos y una sola persona.
230 Fondos de Corfo, solo se tiene registro de fondos y montos desde el año 2006.
180 Fondos de Fondart, se tiene registro de fondos desde del 2005 . Registro de montos desde el 2006.
335 Películas en cuando a público, salas y copias de distribución desde los informes de la cámara de exhibidores de multisalas
    </div>
    </div>
  </div>

<div class="container">
 <div class= "row">
        <div id='dashboard1'>
        <script src="https://d3js.org/d3.v3.min.js"></script>
        <h1>Total de películas ordenadas según sexo director/a </h1>
        <p>(n = 335 Películas) </p>
        <%= render 'graficopeli' %>
        </div>
  <div class="caja">
    Para el caso de las mujeres, es interesante notar que los números de películas dirigidas se mantienen entre 5 a 9, siendo muy probable que se repitan las directoras.
    En el caso del gráfico de color azul, podemos ver como el año 2005 comienza el fondo de fomento audiovisual donde fueron apoyados en su momento 7 películas dirigidas por hombres y 1 por mujer y aumenta según van aumentando los fondos cada año. No existe registro de los montos adjudicados para el año 2005.

  </div>
  </div>

<div class="containerbox">
    <div class="boxed">
          <h2 style= "row">Desde CORFO y Fondo de Fomento audiovisual , se entregaron 16.650 millones para 412 fondos para proyectos de Largometraje de Ficción y Documental. Esto quiere decir que una película pudo recibir diferentes fondos, tanto de ambas instituciones como separadamente.
          De estos, las mujeres recibieron el 15,9% correspondiente a 2.629 millones para 78 proyectos a diferencia de los varones que se adjudicaron el 58,3% con 9.713 millones para 170 proyectos. 64 Proyectos están Sin información correspondientes a 4.308 millones , representando el 25,8% del total .
        <br>
        <br>
    </div>
    <div class="boxes-right">
    <div class="boxedar">
      <h1>grafico 1 y 2</h1>
    </div>
    </div>
  </div>

<div class="container">
 <div class= "row">
      <div id='dashboard4'>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <h1>Promedio de fondos en Millones de pesos otorgados por Institución según sexo director/a</h1>
        <p>n = 2.539 Millones CORFO  </p>
        <p>n = 14.111 Millones Fondo de Fomento Audiovisual  </p>
        <%= render 'promedios' %>
      <div class="caja">

Desde CORFO, se entregaron un total de 2.539 millones, de los cuales el 17%, correspondiente a 424 millones se entregaron a 47 proyectos dirigidos por mujeres, con un promedio de 9 millones pesos por película, a diferencia de varones que se adjudicaron el 77% del total , correspondiendo al 1.945 millones para 167 películas con un promedio por película de 11,6 millones de pesos.
<br>
Desde el Fondo de Fomento Audiovisual, se entregaron un total de 14.111 millones, de los cuales el 15,6%, correspondiente a 2.205 millones se entregaron a 31 proyectos dirigidos por mujeres, con un promedio de 71,129 millones pesos por película, a diferencia de varones que se adjudicaron el 55% del total , correspondiendo al 7.768 millones para 103 películas con un promedio por película de 75,417 millones .

    </div>
  </div>
  </div>

<div class="container">
 <div class= "row">
      <div id='dashboard3'>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <h1>Películas Financiadas por Institución según sexo director/a</h1>
        <p>(n = 231 Fondos CORFO) </p>
        <p>(n = 181 Fondos Fomento Audiovisual) </p>
        <%= render 'graficofondo' %>
      </div>
  </div>
        <div class="caja">
  holi
  </div>
</div>
</div>

   <div class="containerbox">
    <div class="boxed">
         Las mujeres traen menos cantidad de público, teniendo un promedio por película de 11.502 espectadores, a diferencia de los hombres con un promedio por película de 43.475 espectadores .
         Las mujeres tienen un promedio de 4.8 de semanas en salas  a diferencia de los hombres quienes permanecen 6.5 semanas en salas.
    </div>
    <div class="boxes-right">
    <div class="boxedar">
En relación a las copias, las mujeres tienen un promedio de copias por película de 4,7 a diferencia de los hombres con un promedio de 18,2 copias por película.
    </div>
</div>
  </div>

<div class="container">
 <div class= "row">
      <div id='dashboard5'>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <h1>Promedios de salas, copias y público por películas según sexo director/a</h1>
        <p>(n = Cantidad de semans en salas/copias/público promedio por película) </p>
        <%= render 'salas' %>
      </div>
  </div>

<div class="container">
 <div class= "row">
      <div id='dashboard2'>
      <script src="https://d3js.org/d3.v3.min.js"></script>
        <h1>Cantidad de roles realizados ordenados según sexo</h1>
        <p>(n = 5549 Roles) </p>
        <%= render 'grafico' %>
        </div>
         <div class="caja">
    Se recopiló la participación de 2908 personas para las películas analizadas, de estas, 1813 65,33% son hombres y 962 representando el 34, 67% son mujeres.
En el estudio se puede ver cómo los hombres dominan en cargo de importancia, como dirección, producción ejecutiva y asociada , producción. Así también, como en cargos más ¨técnicos¨como el de dirección de fotografía, sonido, efectos especiales.
Los gráficos muestran que las mujeres han podido posicionarse en en cargos de jefatura dentro de la producción como son Asistente de dirección , jefatura de producción.
Las áreas de mayor interés o espacio son las relacionadas al arte, maquillaje, vestuario y decoración.
        </div>
      </div>

  </div>
</div>

