<section id="section01" class="demo">
  <% @total= (@peliculas.count) %>
<div class="containerbox">
    <div class="boxed">
            El estudio cuantitativo se realizó en base a un total de <%="#{@peliculas.count}"%> proyectos de Películas, que fueron financiadas por el Fondo de fomento Audiovisual o CORFO o ambas instituciones. Antes de comenzar el análisis es preciso puntualizar algunos elementos: En primer lugar, se considera el año de una película como el año en que se adjudica un primer fondo, independiente de cuándo fue terminada o estrenada. Así mismo, es preciso acotar que de las <%="#{@peliculas.count}"%> películas, <%="#{@peliculas.count}"%>  fueron co-dirigidas representando el 12% del total (hombre-hombre, mujer- mujer, mujer- hombre); de esta forma, fueron consideradas las películas co-dirigidas como una película, pero para efectos estadísticos se consideran dos roles de realizador/a. Finalmente, del total de películas financiadas, <%="#{@otro.count}"%> (<%= (@otro.count*100/@total).to_f %> %) caen dentro de la categoría “sin información” , ya que no se obtuvo información desde IMBD, CINECHILE o sus representantes legales. Esta falta de información puede deberse a que los proyectos cambian de nombre al finalizar, no están finalizados, no se tiene la información o no se llevó a cabo. De esta forma, la plataforma web del estudio permite que, quienes participaron en el proyecto, puedan añadir o modificar información para así ir completando la faltante.


<!-- Los resultados del análisis cuantitativo muestran que del total de las  películas realizadas entre los años 2005 al 2015, <%="#{@mujer.count}" %>    fueron dirigidas por una mujer lo que equivale al <%=(@mujer.count*100/@total).to_f %> % del total , <%="#{@hombre.count}"%> fueron dirigida por un hombre representado el <%= (@hombre.count*100/@total).to_f%> % del total y  películas quedaron sin identificar, correspondiendo al  del total. Este número se eleva los últimos años debido al largo proceso de término de una película,  por lo que no existen los datos actualizados de sus fichas técnicas en las bases de datos públicas. -->
        <br>
        <br>
    </div>
    <div class="boxes-right">
    <div class="boxedar">
      <h2>Cantidad de Películas dirigidas según sexos</h2>
<div id="chartContainer1" style="height: 200px; width: 400px; align-content: center;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
  var chart1 = new CanvasJS.Chart("chartContainer1", {
    animationEnabled: true,
    title:{
    },
    data: [{
      type: "doughnut",
      startAngle: 60,
      dataPoints: [
      <% hombre="Hombre" %>
      <% mujer="Mujer" %>
        { y: <%= @hombre.count %>, label: "Hombres" },
        { y: <%= @mujer.count %>, label: "Mujeres" },
        { y: <%= @otro.count %>, label: "Otro" },
      ]
    }]
  });
  chart1.render();

</script>
    </div>
      <div class="boxeda">
        <h2>Cuadro resumen de la información recopilada</h2>

      <%="#{@peliculas.count}"%> Películas financiadas por CORFO y Fondo de Fomento Audiovisual entre los años 2005 al 2015
      <br>
      <%="#{(Personaje.all).count}"%> Técnicos o Elenco.
      <br>
      <%="#{(Rol.all).count}"%> Roles de trabajo.
      <br>
      <%="#{(Fondo.where(tipo: "corfo")).count}"%> Fondos de Corfo.
      <br>
      <%="#{(Fondo.where(tipo: "fondart")).count}"%> Fondos de Fondo de Fomento Audiovisual
      <br>
      Fueron Analizados Público, salas y copias de distribución.

      </div>
    </div>
  </div>
  <a href="#section02"><span></span>Siguiente</a>
</section>

<section id="section02" class="demo">
<div class="container">
 <div class= "row">
        <div id='dashboard1'>
        <script src="https://d3js.org/d3.v3.min.js"></script>
        <h2>Total de películas ordenadas según sexo director/a </h2>
        <p>(n = <%="#{@peliculas.count}"%> Películas) </p>
        <%= render 'graficopeli' %>
        </div>
  <div class="caja">
    Para el caso de las mujeres, es interesante notar que los números de películas dirigidas se mantienen entre 5 a 9, siendo muy probable que se repitan las directoras.
    En el caso del gráfico de color azul, podemos ver como el año 2005 comienza el fondo de fomento audiovisual donde fueron apoyados en su momento 7 películas dirigidas por hombres y 1 por mujer y aumenta según van aumentando los fondos cada año. No existe registro de los montos adjudicados para el año 2005.

  </div>
   </div>
  <a href="#section03"><span></span>Siguiente</a>
</section>

<div class="containerbox">
    <div class="boxed">
<% @f=Fondo.all %>
<% @fa = Fondo.where(sexo: "Mujer") %>
<% @fh = Fondo.where(sexo: "Hombre") %>
<% @fo = Fondo.where(sexo: "Otro") %>
          <h2 style= "row">Desde CORFO y Fondo de Fomento audiovisual , se entregaron <%=((@f.map(&:monto)).sum(&:to_i))/1000000 %> millones para <%= @f.count %> fondos para proyectos de Largometraje de Ficción y Documental. Esto quiere decir que una película pudo recibir diferentes fondos, tanto de ambas instituciones como separadamente.
          De estos, las mujeres recibieron el <%= (((@fa.count) * 100)/(@f.count)).to_f %> % correspondiente a <%=((@fa.map(&:monto)).sum(&:to_i))/1000000 %> millones para <%= @fa.count %> proyectos a diferencia de los varones que se adjudicaron el <%= (((@fh.count) * 100)/(@f.count)).to_f %> %  con <%=((@fh.map(&:monto)).sum(&:to_i))/1000000 %> para <%= @fh.count %> proyectos. <%= @fo.count %> Proyectos están Sin información correspondientes a <%=((@fo.map(&:monto)).sum(&:to_i))/1000000 %> millones , representando el <%= (((@fo.count) * 100)/(@f.count)).to_f %> %  del total .
        <br>
        <br>
    </div>
    <div class="boxes-right">
    <div class="boxedar">
      <h1>Cantidad de Fondos según sexos</h1>
       <div class="rowf">
<div id="segundo" style="height: 200px; width: 400px; align-content: center;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
  const charti = new CanvasJS.Chart("segundo", {
    animationEnabled: true,
    title:{
    },
    data: [{
      type: "doughnut",
      startAngle: 60,
      dataPoints: [
      <% hombre="Hombre" %>
      <% mujer="Mujer" %>
        { y: <%= @fh.count %>, label: "Hombres" },
        { y: <%= @fa.count %>, label: "Mujeres" },
        { y: <%= @fo.count %>, label: "Otro" },
      ]
    }]
  });
  charti.render();

</script>
</div>
    </div>
    </div>
  </div>


<div class="container">
 <div class= "row">
      <div id='dashboard4'>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <h1>Promedio de fondos en Millones de pesos otorgados por Institución según sexo director/a</h1>
        <p>n = 2.539 Millones CORFO  </p>
        <p>n = 14.111 Millones Fondo de Fomento Audiovisual  </p>
        <%= render 'promedios' %>
      <div class="caja">

Desde CORFO, se entregaron un total de 2.539 millones, de los cuales el 17%, correspondiente a 424 millones se entregaron a 47 proyectos dirigidos por mujeres, con un promedio de 9 millones pesos por película, a diferencia de varones que se adjudicaron el 77% del total , correspondiendo al 1.945 millones para 167 películas con un promedio por película de 11,6 millones de pesos.
<br>
Desde el Fondo de Fomento Audiovisual, se entregaron un total de 14.111 millones, de los cuales el 15,6%, correspondiente a 2.205 millones se entregaron a 31 proyectos dirigidos por mujeres, con un promedio de 71,129 millones pesos por película, a diferencia de varones que se adjudicaron el 55% del total , correspondiendo al 7.768 millones para 103 películas con un promedio por película de 75,417 millones .

    </div>
  </div>
  </div>

<div class="container">
 <div class= "row">
      <div id='dashboard3'>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <h1>Películas Financiadas por Institución según sexo director/a</h1>
        <p>(n = 231 Fondos CORFO) </p>
        <p>(n = 181 Fondos Fomento Audiovisual) </p>
        <%= render 'graficofondo' %>
      </div>
  </div>
        <div class="caja">
  holi
  </div>
</div>
</div>

   <div class="containerbox">
    <div class="boxed">
         Las mujeres traen menos cantidad de público, teniendo un promedio por película de 11.502 espectadores, a diferencia de los hombres con un promedio por película de 43.475 espectadores .
         Las mujeres tienen un promedio de 4.8 de semanas en salas  a diferencia de los hombres quienes permanecen 6.5 semanas en salas.
    </div>
    <div class="boxes-right">
    <div class="boxedar">
En relación a las copias, las mujeres tienen un promedio de copias por película de 4,7 a diferencia de los hombres con un promedio de 18,2 copias por película.
    </div>
</div>
  </div>

<div class="container">
 <div class= "row">
      <div id='dashboard5'>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <h1>Promedios de salas, copias y público por películas según sexo director/a</h1>
        <p>(n = Cantidad de semans en salas/copias/público promedio por película) </p>
        <%= render 'salas' %>
      </div>
  </div>

<div class="container">
   <div class= "row">
      <div id='dashboard2'>
      <script src="https://d3js.org/d3.v3.min.js"></script>
        <h1>Cantidad de roles realizados ordenados según sexo</h1>
        <p>(n = 5549 Roles) </p>
        <%= render 'grafico' %>
        </div>
         <div class="caja">
    Se recopiló la participación de 2908 personas para las películas analizadas, de estas, 1813 65,33% son hombres y 962 representando el 34, 67% son mujeres.
En el estudio se puede ver cómo los hombres dominan en cargo de importancia, como dirección, producción ejecutiva y asociada , producción. Así también, como en cargos más ¨técnicos¨como el de dirección de fotografía, sonido, efectos especiales.
Los gráficos muestran que las mujeres han podido posicionarse en en cargos de jefatura dentro de la producción como son Asistente de dirección , jefatura de producción.
Las áreas de mayor interés o espacio son las relacionadas al arte, maquillaje, vestuario y decoración.
  </div>
      </div>
</div>
</div>
