  <% @total= (@peliculas.count) %>
<div class="containerbox">
    <div class="boxed">
            El estudio cuantitativo se realizó en base a un total de <%= @total%> proyectos de Películas, que fueron financiadas por el Fondo de fomento Audiovisual o CORFO o ambas instituciones. Antes de comenzar el análisis es preciso puntualizar algunos elementos: En primer lugar, se considera el año de una película como el año en que se adjudica un primer fondo, independiente de cuándo fue terminada o estrenada. Así mismo, es preciso acotar que de las <%= @total %> películas, 41  fueron co-dirigidas representando el <%= 41*100/@total%> % del total (hombre-hombre, mujer- mujer, mujer- hombre); de esta forma, fueron consideradas las películas co-dirigidas como una película, pero para efectos estadísticos se consideran dos roles de realizador/a. Finalmente, del total de películas financiadas, <%="#{@otro.count}"%> (<%= (@otro.count*100/@total).to_f %> %) caen dentro de la categoría “sin información” , ya que no se obtuvo información desde IMBD, CINECHILE o sus representantes legales. Esta falta de información puede deberse a que los proyectos cambian de nombre al finalizar, no están finalizados, no se tiene la información o no se llevó a cabo. De esta forma, la plataforma web del estudio permite que, quienes participaron en el proyecto, puedan añadir o modificar información para así ir completando la faltante. Si quieres ayudarnos a completar el estudio click aquí.
        <br>
        <br>
    </div>
    <div class="boxes-right">
    <div class="boxedar">
        <h2>Cuadro resumen de la información recopilada</h2>

      <%="#{@peliculas.count}"%> Películas financiadas por CORFO y Fondo de Fomento Audiovisual entre los años 2005 al 2015
      <br>
<% hombre= (Personaje.where(genero: "Hombre")).count %>
<% mujer = (Personaje.where(genero: "Mujer")).count %>
<% total = hombre + mujer %>
      <%= total%> Técnicos o Elenco.
      <br>
      <%="#{(Rol.all).count}"%> Roles de trabajo.
      <br>
      <%="#{(Fondo.where(tipo: "corfo")).count}"%> Fondos de Corfo.
      <br>
      <%="#{(Fondo.where(tipo: "fondart")).count}"%> Fondos de Fondo de Fomento Audiovisual
      <br>
      Fueron Analizados Público, salas y copias de distribución.
    </div>
      <div class="boxeda">

      </div>
    </div>
  </div>

  <% @total= (@peliculas.count) %>
<div class="containerbox">
    <div class="boxed">
   <% @total= (@peliculas.count) %>
        Directores y directoras
<br>
        Uno de los primeros datos relevantes para esta investigación hace referencia con la identificación de las áreas de participación en la producción de las mujeres y varones, estableciendo el rol de trabajo. Del análisis se evidencia que del total de las <%= @total %> películas realizadas entre los años 2005 al 2015 financiadas por CORFO y el Fondo de Fomento Audiovisual, <%= @mujer.count %> fueron dirigidas por mujeres lo que equivale al <%= (@mujer.count*100)/@total %> % , <%= @hombre.count %> fueron dirigida hombres representando el <%= (@hombre.count*100)/@total %> % del total y <%= @otro.count %> películas quedaron sin identificar, correspondiendo al <%= (@otro.count*100)/@total %> % del total. Este número se eleva los últimos años debido al largo proceso de término de una película,  por lo que no existen los datos actualizados de sus fichas técnicas en las bases de datos públicas.
<br>
        <br>
        <br>
    </div>
    <div class="boxes-right">
    <div class="boxedar">
      <h2>Cantidad de Películas dirigidas según sexos</h2>
<div id="chartContainer1" style="height: 200px; width: 400px; align-content: center;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
  var chart1 = new CanvasJS.Chart("chartContainer1", {
    animationEnabled: true,
    title:{
    },
    data: [{
      type: "doughnut",
      startAngle: 60,
      dataPoints: [
      <% hombre="Hombre" %>
      <% mujer="Mujer" %>
        { y: <%= @hombre.count %>, label: "Hombres" },
        { y: <%= @mujer.count %>, label: "Mujeres" },
        { y: <%= @otro.count %>, label: "Otro" },
      ]
    }]
  });
  chart1.render();

</script>
    </div>
      <div class="boxeda">

      </div>
    </div>
  </div>






<div class="container">
 <div class= "row">
        <div id='dashboard1'>
        <script src="https://d3js.org/d3.v3.min.js"></script>
        <h2>Total de películas ordenadas según sexo director/a </h2>
        <p>(n = <%= @total%> Películas) </p>
        <%= render 'graficopeli' %>
        </div>
  <div class="caja">
Para el caso de las mujeres, es interesante notar que los números de películas dirigidas se mantienen entre 5 a 9, siendo muy probable que se repitan las directoras.
    En el caso del gráfico de color azul, podemos ver como el año 2005 comienza el fondo de fomento audiovisual donde fueron apoyados en su momento 7 películas dirigidas por hombres y 1 por mujer y aumenta según van aumentando los fondos cada año. No existe registro de los montos adjudicados para el año 2005.

  </div>
   </div>

<div class="containerbox">
    <div class="boxed">
<% @f=Fondo.all %>
<% @fa = Fondo.where(sexo: "Mujer") %>
<% @fh = Fondo.where(sexo: "Hombre") %>
<% @fo = Fondo.where(sexo: "Otro") %>
          <h2 style= "row">Desde CORFO y Fondo de Fomento audiovisual , se entregaron <%=((@f.map(&:monto)).sum(&:to_i))/1000000 %> millones en <%= @f.count %> fondos para proyectos de Largometraje de Ficción y Documental. Esto quiere decir que una película pudo recibir diferentes fondos, tanto de ambas instituciones como separadamente.
          De estos, las mujeres recibieron el <%= (((@fa.count) * 100)/(@f.count)).to_f %> % correspondiente a <%=((@fa.map(&:monto)).sum(&:to_i))/1000000 %> millones para <%= @fa.count %> proyectos a diferencia de los varones que se adjudicaron el <%= (((@fh.count) * 100)/(@f.count)).to_f %> %  con <%=((@fh.map(&:monto)).sum(&:to_i))/1000000 %> para <%= @fh.count %> proyectos. <%= @fo.count %> Proyectos están Sin información correspondientes a <%=((@fo.map(&:monto)).sum(&:to_i))/1000000 %> millones , representando el <%= (((@fo.count) * 100)/(@f.count)).to_f %> %  del total .
        <br>
        <br>
    </div>
    <div class="boxes-right">
    <div class="boxedar">
      <h1>Cantidad de Fondos en millones de pesos según sexos</h1>
       <div class="rowf">
<div id="segundo" style="height: 200px; width: 400px; align-content: center;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
  const charti = new CanvasJS.Chart("segundo", {
    animationEnabled: true,
    title:{
    },
    data: [{
      type: "doughnut",
      startAngle: 60,
      dataPoints: [
      <% hombre="Hombre" %>
      <% mujer="Mujer" %>
        { y: <%= ((@fh.map(&:monto)).sum(&:to_i))/1000000 %>, label: "Hombres" },
        { y: <%= ((@fa.map(&:monto)).sum(&:to_i))/1000000 %>, label: "Mujeres" },
        { y: <%= ((@fo.map(&:monto)).sum(&:to_i))/1000000 %>, label: "Otro" },
      ]
    }]
  });
  charti.render();

</script>
</div>
    </div>
    </div>
  </div>


<div class="container">
 <div class= "row">
      <div id='dashboard4'>
        <script src="http://d3js.org/d3.v3.min.js"></script>
<% @f =Fondo.where(tipo: "corfo") %>
<% @f2 =Fondo.where(tipo: "fondart") %>
<% @t2 =((@f2.map(&:monto)).sum(&:to_i))/1000000 %>
<% @t =((@f.map(&:monto)).sum(&:to_i))/1000000 %>
        <h1>Promedio de fondos en Millones de pesos otorgados por Institución según sexo director/a</h1>
        <p>n = <%= @t  %> Millones CORFO  </p>
        <p>n = <%= @t2 %> Millones Fondo de Fomento Audiovisual  </p>
        <%= render 'promedios' %>
      <div class="caja">
    </div>
  </div>
  </div>

<div class="container">
 <div class= "row">
      <div id='dashboard3'>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <h1>Películas Financiadas por Institución según sexo director/a</h1>
        <p>(n = <%= (Fondo.where(tipo: "corfo")).count %> Fondos CORFO) </p>
        <p>(n = <%= (Fondo.where(tipo: "fondart")).count %> Fondos Fomento Audiovisual) </p>
        <%= render 'graficofondo' %>
      </div>
  </div>
        <div class="caja">
  </div>
</div>
</div>

   <div class="containerbox">
    <div class="boxed2">
     <!--   Para identificar la permanencia temporal en salas de cine nacional y las copias plausibles a ser distribuidas tanto de películas realizadas por <div class="destacam">mujeres  </div> y   <div class="destacah">Hombres</div> entre los años mencionados, se evidencia una disparidad.
 -->
    <div class="destacam"> <strong> Mujeres  </strong></div>
    <p class="destacam">Promedio de <strong>4.8</strong> de semanas en salas </p>
    <p class="destacam">Promedio de <strong>4,7</strong> copias por película  </p>
    <p class="destacam">promedio por película de <strong>11.502</strong> espectadores</p>
<br>
  <div class="destacah"><strong> Hombres</strong></div>
  <p class="destacah">Promedio de<strong> 6.5</strong> semanas en salas</p>
  <p class="destacah">Promedio de <strong>18,2</strong> copias por película</p>
  <p class="destacah">promedio por película de<strong> 43.475 </strong>espectadores .</p>

    </div>
    <div class="boxes-right">
    <div class="boxedar">

    </div>
      <div class="boxeda">
   <br>
    </div>
</div>
  </div>

<div class="container">
 <div class= "row">
      <div id='dashboard5'>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <h1>Promedios de salas, copias y público por películas según sexo director/a</h1>

        <%= render 'salas' %>
      </div>
  </div>

<div class="container">
   <div class= "row">
      <div id='dashboard2'>
      <script src="https://d3js.org/d3.v3.min.js"></script>
        <h1>Cantidad de roles realizados ordenados según sexo</h1>
        <p>(n = <%= Rol.count %>) </p>
        <%= render 'grafico' %>
        </div>
         <div class="caja">
          <% hombrer= (Personaje.where(sexo: "Hombre")).count %>
<% mujerr = (Personaje.where(sexo: "Mujer")).count %>
<%  totalr = hombrer + mujerr %>

          <% hombre= (Rol.where(sexo: "Hombre")).count %>
<% mujer = (Rol.where(sexo: "Mujer")).count %>
<%  total = hombre + mujer %>

    Se recopiló la participación de <%= totalr %> personas para las películas analizadas, de estas, <%= (hombrer*100)/total %> % (<%= hombrer%>) son hombres y el <%= (mujerr*100)/total %>% (<%= mujerr %>) son mujeres.
    El gráfico muestra la cantidad de roles que fueron utilizados por Técnicos y Elencos ordenads según sexo.
<br>
De esta manera las mujeres ocuparon <%= mujer %> roles (<%= (mujer*100)/total %> % ), a diferencia de los varones quienes ocuparon un total de <%= hombre %> roles (<%= (hombre*100)/total %> % ).
<br>
En el estudio se puede ver cómo los hombres dominan en cargo de importancia, como Dirección, Producción Ejecutiva y Asociada , Jefatura Producción. Así también, como en cargos más "técnicos" como el de Dirección de Fotografía, Sonido, Efectos Especiales.
Los gráficos muestran que las mujeres han podido posicionarse en en cargos de jefatura dentro de la Producción como son Asistente de Dirección , Jefatura de Producción.
Las áreas de mayor interés o espacio son las relacionadas al Arte, Maquillaje, Vestuario y Decoración.

  </div>
      </div>
</div>
</div>
