   <div class="containerbox">
    <div class="boxed">
          <h2 style= "row">Estudio Cuantitativo y gráficos generales </h2>
       El presente informe es el resultado de la investigación “Participación de la mujer en la Industria Cinematográfica Nacional” (Folio 400991) de la Línea de Investigación del Fondo Audiovisual del Ministerio de las Artes y la Cultura. En ésta, nos propusimos analizar las oportunidades de acceso a la realización de cine en Chile por parte de mujeres, por lo que se indagó en elementos cuantitativos que nos delinearan un perfil base sobre quiénes y cómo se estaba haciendo cine en Chile, perfil segregado según el sexo; como también se pesquisó -vía entrevistas semiestructuradas-,   respecto de los significados que tanto mujeres como varones en distintos roles del proceso de producción y realización de cine en Chile, han ido construyendo sobre los facilitadores y obstáculos para realizar su trabajo cinematográfico en Chile. Esta investigación, por tanto, considera la dimensión de género como una categoría relevante a la hora de estudiar y analizar los fenómenos y artefactos culturales de la vida social, y evidencia que dicha dimensión organiza las relaciones al interior de la producción y realización de cine al reactualizar roles y estereotipos de género.
        <br>
        <br>
    </div>
    <div class="boxes-right">
    <div class="boxedar">
      Quiénes Somos
        <br>
      <p>Ucronía es una organización de la sociedad civil que considera la necesidad de realizar investigación-acción para combatir las desigualdades que emergen del sistema capitalista neoliberal patriarcal y androcéntrico.</p>
    </div>
    </div>
  </div>
  <div class="container">
 <div class= "row">
        <div id='dashboard1'>
        <script src="https://d3js.org/d3.v3.min.js"></script>
        <h1>Total de películas ordenadas según sexo director/a </h1>
        <p>(n = 335 Películas) </p>
        <%= render 'graficopeli' %>
        </div>
  <div class="caja">
    El presente informe es el resultado de la investigación “Participación de la mujer en la Industria Cinematográfica Nacional” (Folio 400991) de la Línea de Investigación del Fondo Audiovisual del Ministerio de las Artes y la Cultura. En ésta, nos propusimos analizar las oportunidades de acceso a la realización de cine en Chile por parte de mujeres, por lo que se indagó en elementos cuantitativos que nos delinearan un perfil base sobre quiénes y cómo se estaba haciendo cine en Chile, perfil segregado según el sexo; como también se pesquisó -vía entrevistas semiestructuradas-,   respecto de los significados que tanto mujeres como varones en distintos roles del proceso de producción y realización de cine en Chile, han ido construyendo sobre los facilitadores y obstáculos para realizar su trabajo cinematográfico en Chile. Esta investigación, por tanto, considera la dimensión de género como una categoría relevante a la hora de estudiar y analizar los fenómenos y artefactos culturales de la vida social, y evidencia que dicha dimensión organiza las relaciones al interior de la producción y realización de cine al reactualizar roles y estereotipos de género.
  </div>

    <h1>Cantidad de Técnicos/Elencos ordenados según sexo</h1>
      <p>(n = 2908 personas) </p>
      <%= render 'graficopersonas' %>
  <div class="caja">
    El presente informe es el resultado de la investigación “Participación de la mujer en la Industria Cinematográfica Nacional” (Folio 400991) de la Línea de Investigación del Fondo Audiovisual del Ministerio de las Artes y la Cultura. En ésta, nos propusimos analizar las oportunidades de acceso a la realización de cine en Chile por parte de mujeres, por lo que se indagó en elementos cuantitativos que nos delinearan un perfil base sobre quiénes y cómo se estaba haciendo cine en Chile, perfil segregado según el sexo; como también se pesquisó -vía entrevistas semiestructuradas-,   respecto de los significados que tanto mujeres como varones en distintos roles del proceso de producción y realización de cine en Chile, han ido construyendo sobre los facilitadores y obstáculos para realizar su trabajo cinematográfico en Chile. Esta investigación, por tanto, considera la dimensión de género como una categoría relevante a la hora de estudiar y analizar los fenómenos y artefactos culturales de la vida social, y evidencia que dicha dimensión organiza las relaciones al interior de la producción y realización de cine al reactualizar roles y estereotipos de género.
  </div>

      <div id='dashboard2'>
      <script src="https://d3js.org/d3.v3.min.js"></script>
        <h1>Cantidad de roles realizados ordenados según sexo</h1>
        <p>(n = 5549 Roles) </p>
        <%= render 'grafico' %>
         <div class="caja">
    El presente informe es el resultado de la investigación “Participación de la mujer en la Industria Cinematográfica Nacional” (Folio 400991) de la Línea de Investigación del Fondo Audiovisual del Ministerio de las Artes y la Cultura. En ésta, nos propusimos analizar las oportunidades de acceso a la realización de cine en Chile por parte de mujeres, por lo que se indagó en elementos cuantitativos que nos delinearan un perfil base sobre quiénes y cómo se estaba haciendo cine en Chile, perfil segregado según el sexo; como también se pesquisó -vía entrevistas semiestructuradas-,   respecto de los significados que tanto mujeres como varones en distintos roles del proceso de producción y realización de cine en Chile, han ido construyendo sobre los facilitadores y obstáculos para realizar su trabajo cinematográfico en Chile. Esta investigación, por tanto, considera la dimensión de género como una categoría relevante a la hora de estudiar y analizar los fenómenos y artefactos culturales de la vida social, y evidencia que dicha dimensión organiza las relaciones al interior de la producción y realización de cine al reactualizar roles y estereotipos de género.
  </div>
      </div>



<div class="container">
 <div class= "row">
      <div id='dashboard3'>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <h1>Películas Financiadas por Institución según sexo director/a</h1>
        <p>(n = 308 Fondos CORFO) </p>
        <p>(n = 180 Fondos Fomento Audiovisual) </p>
        <%= render 'graficofondo' %>
      </div>
  </div>
        <div class="caja">
    El presente informe es el resultado de la investigación “Participación de la mujer en la Industria Cinematográfica Nacional” (Folio 400991) de la Línea de Investigación del Fondo Audiovisual del Ministerio de las Artes y la Cultura. En ésta, nos propusimos analizar las oportunidades de acceso a la realización de cine en Chile por parte de mujeres, por lo que se indagó en elementos cuantitativos que nos delinearan un perfil base sobre quiénes y cómo se estaba haciendo cine en Chile, perfil segregado según el sexo; como también se pesquisó -vía entrevistas semiestructuradas-,   respecto de los significados que tanto mujeres como varones en distintos roles del proceso de producción y realización de cine en Chile, han ido construyendo sobre los facilitadores y obstáculos para realizar su trabajo cinematográfico en Chile. Esta investigación, por tanto, considera la dimensión de género como una categoría relevante a la hora de estudiar y analizar los fenómenos y artefactos culturales de la vida social, y evidencia que dicha dimensión organiza las relaciones al interior de la producción y realización de cine al reactualizar roles y estereotipos de género.
  </div>
</div>
<div class="container">
 <div class= "row">
      <div id='dashboard4'>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <h1>Promedio de montos otorgados por Institución según sexo director/a</h1>
        <p>(n = Montos en USD promedio por película) </p>
        <%= render 'promedios' %>
      <div class="caja">
    El presente informe es el resultado de la investigación “Participación de la mujer en la Industria Cinematográfica Nacional” (Folio 400991) de la Línea de Investigación del Fondo Audiovisual del Ministerio de las Artes y la Cultura. En ésta, nos propusimos analizar las oportunidades de acceso a la realización de cine en Chile por parte de mujeres, por lo que se indagó en elementos cuantitativos que nos delinearan un perfil base sobre quiénes y cómo se estaba haciendo cine en Chile, perfil segregado según el sexo; como también se pesquisó -vía entrevistas semiestructuradas-,   respecto de los significados que tanto mujeres como varones en distintos roles del proceso de producción y realización de cine en Chile, han ido construyendo sobre los facilitadores y obstáculos para realizar su trabajo cinematográfico en Chile. Esta investigación, por tanto, considera la dimensión de género como una categoría relevante a la hora de estudiar y analizar los fenómenos y artefactos culturales de la vida social, y evidencia que dicha dimensión organiza las relaciones al interior de la producción y realización de cine al reactualizar roles y estereotipos de género.
    </div>
  </div>
  </div>

</div>
<div class="container">
 <div class= "row">
      <div id='dashboard5'>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <h1>Promedios de salas, copias y público por películas según sexo director/a</h1>
        <p>(n = Cantidad de semans en salas/copias/público promedio por película) </p>
        <%= render 'salas' %>
        <div class="caja">
    El presente informe es el resultado de la investigación “Participación de la mujer en la Industria Cinematográfica Nacional” (Folio 400991) de la Línea de Investigación del Fondo Audiovisual del Ministerio de las Artes y la Cultura. En ésta, nos propusimos analizar las oportunidades de acceso a la realización de cine en Chile por parte de mujeres, por lo que se indagó en elementos cuantitativos que nos delinearan un perfil base sobre quiénes y cómo se estaba haciendo cine en Chile, perfil segregado según el sexo; como también se pesquisó -vía entrevistas semiestructuradas-,   respecto de los significados que tanto mujeres como varones en distintos roles del proceso de producción y realización de cine en Chile, han ido construyendo sobre los facilitadores y obstáculos para realizar su trabajo cinematográfico en Chile. Esta investigación, por tanto, considera la dimensión de género como una categoría relevante a la hora de estudiar y analizar los fenómenos y artefactos culturales de la vida social, y evidencia que dicha dimensión organiza las relaciones al interior de la producción y realización de cine al reactualizar roles y estereotipos de género.
  </div>
      </div>
  </div>

</div>
  </div>
</div>
