<div class="home">
<h1>Cantidad de películas/ Dirección</h1>
<%= render 'graficopeli' %>

<h1>Participantes / Técnicos y Elenco</h1>
<%= render 'grafico' %>

<div id='dashboard3'>
<script src="http://d3js.org/d3.v3.min.js"></script>
<h1>Peliculas Financiadas por Institución</h1>
<%= render 'graficofondo' %>
</div>
<div id='dashboard4'>
<script src="http://d3js.org/d3.v3.min.js"></script>
<h1>Suma de montos otorgados por Institución</h1>
<%= render 'promedios' %>
</div>
<div id='dashboard5'>
<script src="http://d3js.org/d3.v3.min.js"></script>
<h1>Promedio de </h1>
<%= render 'salas' %>
</div>
</div>
