<h1>FICHA TECNICA</h1>
<div class="container-fluid inner" style= "width: 900px;">
  <table class="tableizer-table" id= "simple">
  <tr class="tableizer-firstrow">
    <th>Cargo</th>
    <th>Nombre</th>
    <th>Sexo</th>
    <th>Otros roles realizados//Película</th>
  </tr>
      <tr>
    <% @todorol.each do |rol| %>
        <% @rols = Rol.where(name: rol, pelicula_id: @pelicula) %>
        <% @personajes =[] %>
          <% @rols.each do |roli| %>
          <% @personajes << roli.personaje %>
          <% end %>
        <% unless @personajes == nil %>
        <% @personajes1 = @personajes.uniq %>
              <% @personajes2 = @personajes1.sort_by(&:name) %>
              <% @personajes2.each_with_index do |per, index| %>
        <td><%= rol %></td>
        <td><%= per.name %></td>
        <td><%= per.genero %></td>
        <td> <ul><% @rolos = Rol.where(personaje_id: per)%>
                <% @rolos.each do |rol| %>
                <% peli = rol.pelicula %>
              <ol><%= rol.name %> ==> <%= link_to "#{rol.pelicula.titulo}", pelicula_path(peli) %></ol>
              <% end %>
          </ul>
         </td>
      </tr>
      <% end %>
            <% end %>
            <% end %>
  </table>
