  <div class="container-fluid inner">
  <table class="tableizer-table" id= "simple">
  <tr class="tableizer-firstrow">
    <th>Direccion== M / H</th>
    <th>Título</th>
    <th>Año</th>
    <th>Dirección</th>
    <th>CineChile</th>
    <th>Imbd</th>
    <th>Fondo Adjudicado</th>
    <th>Ficha Técnica Completa</th></tr>
     <% @peliculas2 = @peliculas.sort_by(&:agno) %>
      <% @peliculas2.each do |peli| %>
      <% @personas= peli.personajes %>
      <% totalmujerespeli = @personas.where(genero: "Mujer") %>
      <% totalhombrespeli = @personas.where(genero: "Hombre") %>
      <% @r = peli.imbd %>
      <% @f= JSON.parse @r.gsub('=>', ':')%>
      <% @direccion = Rol.where(pelicula_id: peli.id, name: "Direccion") %>
       <% @hombre = []%>
        <% @mujer = []%>
      <% @direccion.each do |dire|%>
          <% if dire.personaje.genero == "Mujer" %>
          <% @mujer << dire %>
          <% elsif dire.personaje.genero == "Hombre" %>
          <% @hombre << dire %>
          <% end%>
          <% end %>
   <tr>
      <td>
         <script src="../../bower_components/dist/Chart.bundle.js"></script>
  <script src="../utils.js"></script>
  <style>
  canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  </style>
  <div id="canvas-holder" style="width:40%">
    <canvas id="chart-area"></canvas>
  </div>
  <button id="addDataset">Add Dataset</button>
  <button id="removeDataset">Remove Dataset</button>
  <script>
    var randomScalingFactor = function() {
      return Math.round(Math.random() * 100);
    };

    var config = {
      type: 'doughnut',
      data: {
        datasets: [{
          data: [
            34, 55
          ],
          backgroundColor: [
            "#FF6384",
              "#63FF84"
          ],
          label: 'Dataset 1'
        }],
        labels: [
          'Red',
          'Orange'
        ]
      },
      options: {
        responsive: true,
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: 'Chart.js Doughnut Chart'
        },
        animation: {
          animateScale: true,
          animateRotate: true
        }
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('chart-area').getContext('2d');
      window.myDoughnut = new Chart(ctx, config);
    };

    document.getElementById('randomizeData').addEventListener('click', function() {
      config.data.datasets.forEach(function(dataset) {
        dataset.data = dataset.data.map(function() {
          return randomScalingFactor();
        });
      });

      window.myDoughnut.update();
    });

    var colorNames = Object.keys(window.chartColors);
    document.getElementById('addDataset').addEventListener('click', function() {
      var newDataset = {
        backgroundColor: [],
        data: [],
        label: 'New dataset ' + config.data.datasets.length,
      };

      for (var index = 0; index < config.data.labels.length; ++index) {
        newDataset.data.push(randomScalingFactor());

        var colorName = colorNames[index % colorNames.length];
        var newColor = window.chartColors[colorName];
        newDataset.backgroundColor.push(newColor);
      }

      config.data.datasets.push(newDataset);
      window.myDoughnut.update();
    });

    document.getElementById('addData').addEventListener('click', function() {
      if (config.data.datasets.length > 0) {
        config.data.labels.push('data #' + config.data.labels.length);

        var colorName = colorNames[config.data.datasets[0].data.length % colorNames.length];
        var newColor = window.chartColors[colorName];

        config.data.datasets.forEach(function(dataset) {
          dataset.data.push(randomScalingFactor());
          dataset.backgroundColor.push(newColor);
        });

        window.myDoughnut.update();
      }
    });

    document.getElementById('removeDataset').addEventListener('click', function() {
      config.data.datasets.splice(0, 1);
      window.myDoughnut.update();
    });

    document.getElementById('removeData').addEventListener('click', function() {
      config.data.labels.splice(-1, 1); // remove the label first

      config.data.datasets.forEach(function(dataset) {
        dataset.data.pop();
        dataset.backgroundColor.pop();
      });

      window.myDoughnut.update();
    });
  </script>
      </td>
      <td><%= link_to "#{peli.titulo}", pelicula_path(peli) %></td>
      <td><%= peli.agno %></td>
      <td><ul>
        <% @direccion.each do |dire|%>
        <li data-dire-id="<%= dire.personaje.id %>"><%= dire.personaje.name %>
            <%= link_to personaje_path(dire.personaje), method: :delete, remote: true do %>
            <i class="fa fa-users" aria-hidden="true"></i>
            <% end %>
              <% if dire.personaje.genero == "Mujer" %>
              <%= link_to 'mujer', deactivate_personaje_path(dire.personaje), class: 'btn btn-danger', method: :patch , remote: true %>
               <%= link_to 'Otro', empresa_personaje_path(dire.personaje), class: 'btn btn-primary',
              method: :patch , remote: true %>
              <% elsif dire.personaje.genero == "Hombre" %>
              <%= link_to 'hombre', activate_personaje_path(dire.personaje), class: 'btn btn-primary',
              method: :patch , remote: true %>
               <%= link_to 'Otro', empresa_personaje_path(dire.personaje), class: 'btn btn-warning',
              method: :patch , remote: true %>
               <% elsif dire.personaje.genero == "Empresa" %>
                <%= link_to 'hombre', activate_personaje_path(dire.personaje), class: 'btn btn-primary',
              method: :patch , remote: true %>
               <%= link_to 'mujer', deactivate_personaje_path(dire.personaje), class: 'btn btn-danger', method: :patch , remote: true %>
              <% end %>
           </li>
           <% end %>
        <ul>
      </td>
      <td><%= link_to "Ficha en Cinechile", "http://www.cinechile.cl/pelicula-#{peli.idcinechile}" , target: :_blank %></td>
      <td>
          <%= form_for(peli) do |f| %>
            <%= f.text_field :imbd , placeholder: "Nuevo imdbID"  %>
            <%= f.submit %>
          <% end %>
      <%= link_to "Ficha en Imbd", "https://www.imdb.com/title/#{@f["imdbID"]}", target: :_blank %>
      </td>
      <% @fondos = Fondo.where(pelicula_id: peli.id) %>
      <% @fondos = Fondo.where(pelicula_id: peli.id) %>
      <td><ul>
          <% @fondos.each do |fondo| %>
              <li><%= fondo.tipo%></li>
              <li><%= fondo.monto%></li>
          <% end %>
      </ul></td>
      <td><%= link_to pelicula_path(peli) do %>
          <i class="fa fa-heart" aria-hidden="true"></i>Ficha Técnica Completa</i>
        <% end %></td>
            <% end %>
    </tr>

  </table>

  </div>


