  <div class="container-fluid inner">
     <h4>Importanding data!</h4>
        <%= form_tag import_peliculas_path, multipart:true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "importar csv" %>
        <% end %>
        <h4>Importanding data!</h4>
        <%= form_tag import_imbd_peliculas_path, multipart:true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "importar imbd" %>
        <% end %>
    <th><%= (Pelicula.all).count %></th>
  <table class="tableizer-table" id= "simple">
  <tr class="tableizer-firstrow">
    <th>numero</th>
    <th>Título</th>
    <th>Año</th>
    <th>Dirección</th>
    <th>CineChile</th>
    <th>Imbd</th>
    <th>Fondo Adjudicado</th>
    <th>Ficha Técnica Completa</th></tr>
     <% @peliculas2 = @peliculas.sort_by(&:titulo) %>
      <% @peliculas2.each_with_index do |peli, index| %>
      <% @personas= peli.personajes %>
      <% totalmujerespeli = @personas.where(genero: "Mujer") %>
      <% totalhombrespeli = @personas.where(genero: "Hombre") %>
      <% if peli.imbd != nil %>
      <% @r = peli.imbd %>
      <% @f= JSON.parse @r.gsub('=>', ':')%>
      <% @direccion = Rol.where(pelicula_id: peli.id, name: "Dirección") %>
       <% @hombre = []%>
        <% @mujer = []%>
        <% @otro = []%>
      <% @direccion.each do |dire|%>
          <% if dire.personaje.genero == "Mujer" %>
          <% @mujer << dire %>
          <% elsif dire.personaje.genero == "Hombre" %>
          <% @hombre << dire %>
           <% elsif dire.personaje.genero == "Otro" %>
          <% @otro << dire %>
          <% end%>
          <% end %>
        <% end %>
   <tr>
      <td>
      </td>
      <td><%= index+1 %></td>
      <td><%= link_to "#{peli.titulo}", pelicula_path(peli) %></td>
      <td><%= peli.agno %></td>
      <td><% if @direccion != nil %>
        <ul>
        <% @direccion.each do |dire|%>
        <li data-dire-id="<%= dire.personaje.id %>"><%= dire.personaje.name %>
            <%= link_to personaje_path(dire.personaje), method: :delete, remote: true do %>
            <i class="fa fa-users" aria-hidden="true"></i>
            <% end %>
              <% if dire.personaje.genero == "Mujer" %>
              <%= link_to 'mujer', deactivate_personaje_path(dire.personaje), class: 'btn btn-danger', method: :patch , remote: true %>
               <%= link_to 'Otro', empresa_personaje_path(dire.personaje), class: 'btn btn-primary',
              method: :patch , remote: true %>
              <% elsif dire.personaje.genero == "Hombre" %>
              <%= link_to 'hombre', activate_personaje_path(dire.personaje), class: 'btn btn-primary',
              method: :patch , remote: true %>
               <%= link_to 'Otro', empresa_personaje_path(dire.personaje), class: 'btn btn-warning',
              method: :patch , remote: true %>
               <% elsif dire.personaje.genero == "Otro" %>
                <%= link_to 'hombre', activate_personaje_path(dire.personaje), class: 'btn btn-primary',
              method: :patch , remote: true %>
               <%= link_to 'mujer', deactivate_personaje_path(dire.personaje), class: 'btn btn-danger', method: :patch , remote: true %>
              <% end %>
           </li>
           <% end %>
        <ul>
          <% end %>
      </td>
      <td><%= link_to "Ficha en Cinechile", "http://www.cinechile.cl/pelicula-#{peli.idcinechile}" , target: :_blank %></td>
      <td>
          <%= form_for(peli) do |f| %>
            <%= f.text_field :imbd , placeholder: "Nuevo imdbID"  %>
            <%= f.submit %>
          <% end %>
          <% if peli.imbd != nil %>
      <%= link_to "Ficha en Imbd", "https://www.imdb.com/title/#{@f["imdbID"]}", target: :_blank %>
      <% end %>
      </td>
      <% @fondos = Fondo.where(pelicula_id: peli.id) %>
      <% @fondos = Fondo.where(pelicula_id: peli.id) %>
      <td><ul>
          <% @fondos.each do |fondo| %>
              <li><%= fondo.tipo%></li>
              <li><%= fondo.monto%></li>
          <% end %>
      </ul></td>
      <td><%= link_to pelicula_path(peli) do %>
          <i class="fa fa-heart" aria-hidden="true"></i>Ficha Técnica Completa</i>
        <% end %></td>
            <% end %>
    </tr>

  </table>

  </div>


