  <div class="container-fluid inner">
  <table class="tableizer-table" id= "simple">
  <tr class="tableizer-firstrow">
    <th>Direccion== M / H</th>
    <th>Título</th>
    <th>Año</th>
    <th>Dirección</th>
    <th>CineChile</th>
    <th>Imbd</th>
    <th>Fondo Adjudicado</th>
    <th>Ficha Técnica Completa</th></tr>
      <% @peliculas.each do |peli| %>
      <% @personas= peli.personajes %>
      <% totalmujerespeli = @personas.where(genero: true) %>
      <% totalhombrespeli = @personas.where(genero: false) %>
      <% @r = peli.imbd %>
      <% @f= JSON.parse @r.gsub('=>', ':')%>
      <% direccion = Rol.where(pelicula_id: peli.id, name: "Direccion") %>
       <% @hombre = []%>
        <% @mujer = []%>
      <% direccion.each do |dire|%>
          <% if dire.personaje.genero == true %>
          <% @mujer << dire %>
          <% else %>
          <% @hombre << dire %>
          <% end%>
          <% end %>
   <tr>
      <td> <%= @mujer.count %> <%= totalmujerespeli.count %>// <%= @hombre.count %> <%= totalhombrespeli.count %></td>
      <td><%=  peli.titulo %></td>
      <td><%= peli.agno %></td>
      <td><ul>
        <% direccion.each do |dire|%>
        <li data-dire-id="<%= dire.personaje.id %>"><%= dire.personaje.name %>
            <%= link_to personaje_path(dire.personaje), method: :delete, remote: true do %>
            <i class="fa fa-users" aria-hidden="true"></i>
            <% end %>
              <% if dire.personaje.genero == true %>
              <%= link_to 'mujer', deactivate_personaje_path(dire.personaje), class: 'btn btn-danger', method: :patch , remote: true %>
              <% elsif dire.personaje.genero == false %>
              <%= link_to 'hombre', activate_personaje_path(dire.personaje), class: 'btn btn-primary',
              method: :patch , remote: true %>
              <% end %>
           </li>
           <% end %>
        <ul>
      </td>
      <td><%= link_to "Ficha en Cinechile", "http://www.cinechile.cl/pelicula-#{peli.idcinechile}" , target: :_blank %></td>
      <td>
          <%= form_for(peli) do |f| %>
            <%= f.text_field :imbd , placeholder: "Nuevo imdbID"  %>
            <%= f.submit %>
          <% end %>
      <%= link_to "Ficha en Imbd", "https://www.imdb.com/title/#{@f["imdbID"]}", target: :_blank %>
      </td>
      <% @fondos = Fondo.where(pelicula_id: peli.id) %>
      <% @fondos = Fondo.where(pelicula_id: peli.id) %>
      <td><ul>
          <% @fondos.each do |fondo| %>
              <li><%= fondo.tipo%></li>
          <% end %>
      </ul></td>
      <td><%= link_to pelicula_path(peli) do %>
          <i class="fa fa-heart" aria-hidden="true"></i>Ficha Técnica Completa</i>
        <% end %></td>
            <% end %>
    </tr>

  </table>

  </div>

