<div class="container">
<div class="col-sm">
  <table border = "1" bordercolor = "green" bgcolor = "">
    <tr>
      <th>Título</th>
      <th>Dirección</th>
      <th>CineChile</th>
      <th>Imbd</th>
    </tr>
    <tr>
      <% @peliculas.each do |peli| %>
      <% @r = peli.imbd %>
      <% @f= JSON.parse @r.gsub('=>', ':')%>
      <td><%=  peli.titulo %></td>
      <% direccion= Rol.where(pelicula_id: peli.id, name: "Direccion") %>
      <td>
        <ul>
          <% direccion.each do |dire|%>
          <% @nombre = Personaje.find(dire.personaje_id) %>
          <li data-dire-id="<%= @nombre.id %>"><%= @nombre.name %>
          <%= link_to "doble", personaje_path(@nombre), class: 'btn btn-warning', method: :delete, remote: true %>
          <% if @nombre.genero == true %>
            <%= link_to 'mujer', deactivate_personaje_path(@nombre), class: 'btn btn-danger', method: :patch , remote: true %>
            <% end %>
            <% if @nombre.genero == false %>
            <%= link_to 'hombre', activate_personaje_path(@nombre), class: 'btn btn-primary',
            method: :patch , remote: true %>
            <% end %>
             <% end %>
        <ul>

        </td>
      <td><%= peli.idcinechile %></td>
      <td><%= @f["imdbID"]%></td>
      <td><%= link_to "Ver Ficha Tecnica", pelicula_path(peli), class: 'btn btn-info' %> </td>
    </tr>
    <% end %>
  </table>
</div>
</div>
