<div class="container">
  <div class="row">
    <div class="">
      <% if @pelicula.prev !=nil %>
     <%= link_to "<< #{@pelicula.prev.titulo}", @pelicula.prev %>
     <% end %>
    </div>
    <div class="col-sm">
      <table border = "1" bordercolor = "green" bgcolor = "">
        <tr>
          <th>Título</th>
          <th>Dirección</th>
          <th>Observar Imdb</th>
          <th>Otra Observacion</th>
        </tr>
        <tr>
          <td><%= @pelicula.titulo %></td>
          <td>
            <% @directors.each do |dir|%>
            <ul>
            <li><%= Personaje.find(dir.personaje_id).name %>
            </li></ul>
            <% end %>
            </td>
        </tr>
      </table>

      <table border = "1" bordercolor = "green" bgcolor = "">
      <tr>
        <th>Año</th>
        <td><%= @pelicula.agno %></td>
        </tr>
      <tr>
        <th>Responsable de Proyecto</th>
        <td><%= @pelicula.responsable %></td>
        </tr>
      <tr>
        <th>Monto Adjudicado</th>
        <td><%= @pelicula.monto %></td>
        </tr>
      <tr>
        <th>Institución</th>
        <td><%= @pelicula.institucion %></td>
        </tr>
      <tr>
        <th>Cantidad de Mujeres</th>
        <td><%= @mujeres.count %></td>
        </tr>
      <tr>
        <th>Cantidad de Hombres</th>
         <td><%= @hombres.count %></td>
         </tr>
      <tr>
        <th>Total</th>
        <td><%= @total %></td>
        </tr>
      <tr>
        <th>Porcentaje de Participación </th>
        <td><%= @porcentaje_mujeres %></td>
        </tr>
      <tr>
      </table>
<br>
        <table border = "1" bordercolor = "green" bgcolor = "">
        <tr>
          <th>Ficha Técnica</th>
        </tr>
        <tr>
          <th>Cargo</th>
          <th>Nombre</th>
        </tr>
        <tr>
          <th>Dirección Arte</th>
           <% @artes.each do |dir|%>
           <% pe= Personaje.find(dir.personaje_id)  %>
             <td><%= pe.name %></td>
              <td id= "reviews" >
                <% if pe.genero == true %>
                  <%= link_to 'cambia a Hombre', deactivate_personaje_path(pe), class: 'btn btn-primary',
                  method: :patch , remote: true %>
                  <% end %>
                  <% if pe.genero == false %>
                  <%= link_to 'Mujer', activate_personaje_path(pe), class: 'btn btn-danger',
                  method: :patch , remote: true %>
                  <% end %>
              </td>
                  <% end %>
            </tr>
             <tr>
          <th>Asistente de Dirección</th>
          <% @asistentdires.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Dirección de Fotografía</th>
          <% @direfotos.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Producción</th>
          <% @productors.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Empresa Productora</th>
          <% @casaprod.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Producción Ejecutiva</th>
          <% @productorejecutivos.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Producción Asociada</th>
          <% @productorasociados.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Jefatura de Producción</th>
          <% @jefedeproduccion.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Guión</th>
          <% @guiones.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Montaje</th>
           <% @montajistas.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Efectos Especiales</th>
          <% @efectoss.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Voz en off</th>
          <% @vozenoffs.each do |dir|%>
           <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Vestuario</th>
          <% @vestuarios.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Sonido</th>
          <% @sonidos.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Realización</th>
          <% @realizacions.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Maquillaje</th>
          <% @maquillajes.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Música</th>
          <% @musicas.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
      </table>
<br>
     <div class="col-sm">
        <table border = "1" bordercolor = "green" bgcolor = "">
        <tr>
          <th>Ficha Artística</th>

        </tr>
        <tr>
          <th>Nombre</th>
          </tr>
        <tr>
          <% @elenco.each do |dir|%>
          </tr>
            <td><% pe= Personaje.find(dir.personaje_id) %></td>
            <td><%= pe.name %></td>
              <td id= "reviews" >
                <% if pe.genero == true %>
                  <%= link_to 'cambia a Hombre', deactivate_personaje_path(pe), class: 'btn btn-primary',
                  method: :patch , remote: true %>
                  <% end %>
                  <% if pe.genero == false %>
                  <%= link_to 'Mujer', activate_personaje_path(pe), class: 'btn btn-danger',
                  method: :patch , remote: true %>
                  <% end %>
              </td>
            <% end %>
        </table>
    </div>
    <div class="">
    <%= link_to "#{@pelicula.next.titulo} >>", @pelicula.next %>
    </div>
  </div>
</div>
