
  <div class= "row">
  <div class="col-sm-2">
      <% if @pelicula.prev != nil %>
     <%= link_to "<< #{@pelicula.prev.titulo}", @pelicula.prev %>
     <% end %>
  </div>
  <div class="container">
  <div class= "col-sm-12">
  <div class="container-fluid inner">

  <table class="tableizer-table" id= "simple">
  <tr class="tableizer-firstrow">
          <th>Título</th>
          <th>Dirección</th>
          <th>Observar Imdb</th>
          <th>Observar Cinechile</th>
        </tr>
        <tr>
          <td><%= @pelicula.titulo %></td>
          <td>
            <% @directors.each do |dir|%>
            <ul>
            <li><%= dir.personaje.name %>//<%= dir.personaje.id %>
            </li>
          </ul>
            <% end %>
            </td>
            <td>
            <%= form_for(@pelicula) do |f| %>
            <%= f.text_field :idcinechile , :placeholder => "Nuevo Cinechile"  %>
            <%= f.submit %>
          <% end %>
      <%= link_to "Ficha en Cinechile", "http://www.cinechile.cl/pelicula-#{@pelicula.idcinechile}" , target: :_blank %>
        </td>
        <td>
            <%= form_for(@pelicula) do |f| %>
            <%= f.text_field :imbd , :placeholder => "Nuevo imbd"  %>
            <%= f.submit %>
          <% end %>
          <% if @pelicula.imbd != nil %>
          <% @f= JSON.parse @pelicula.imbd.gsub('=>', ':') %>
      <%= link_to "Ficha en Imbd", "https://www.imdb.com/title/#{@f["imdbID"]}", target: :_blank %>
      <% end %>
        </td>
        <td></td>
        </tr>
      </table>
      <div>

  <table class="tableizer-table" id= "simple">
  <tr class="tableizer-firstrow">
    <th>Participé en esta Película</th>
    <td><%= link_to "Editar, Agregar o Cambiar Información"%></td>
    </tr>
  </table>

  <table class="tableizer-table" id= "simple">
  <tr class="tableizer-firstrowr ">
        <th>Año</th>
        <td><%= @pelicula.agno %></td>
      </tr>
      <tr>
        <th>Responsable de Proyecto</th>
        <td><%= @pelicula.responsable %></td>
      </tr>
      <tr>
        <th>Responsable</th>
         <td><%= @pelicula.contacto %></td>
         </tr>
        <th>Institución // Monto Adjudicado</th>
        <td><ul> <% @fondo.each do |fondo| %><li>
           <%= fondo.tipo %> // <%= fondo.monto %>
        </li></ul>
                <% end %>
        </td>
      </tr>
      <tr>
        <th>Cantidad de Mujeres</th>
        <td><%= @mujer.count %></td>
      </tr>
      <tr>
        <th>Cantidad de Hombres</th>
         <td><%= @hombre.count %></td>
        </tr>
        <tr>
          <th>OTRO</th>
           <td><%= @otro.count %></td>
        </tr>
        <tr>
         <% if @mujer = 0  %>
           <% @total = @hombre.count + @otro.count %>
          <%  @porcentaje = 0 %>
          <% else %>
          <% @total = @hombre.count + @otro.count %>
          <%  @porcentaje = (@mujer.count * 100)/@total %>
          <% end %>
          <th>Total</th>
          <td><%= @total %></td>
        </tr>
        <tr>
          <th>Porcentaje de Participación </th>
          <td><%= @porcentaje %></td>
        </tr>
         <% if @pelicula.salas != nil || @pelicula.publico !=nil %>
        <tr>
          <th>Cantidad de Semanas </th>
          <td><%= @pelicula.salas %></td>
          </tr>
          <tr>
          <th>Cantidad de Copias </th>
          <td><%= @pelicula.copias %></td>
          </tr>
          <th> Publico </th>
          <td><%= @pelicula.publico %></td>
        </tr>
        <% end %>
      </table>
<br>

  <table class="tableizer-table" id= "simple">
  <tr class="tableizer-firstrow">
    <th>Número</th>
    <th>Nombre</th>
    <th>ID</th>
    <th>Rol//Película</th>
    <th>Edita</th>
  </tr>
  <tr>
    <% @todorol.each do |rol| %>
        <% @rols = Rol.where(name: rol, pelicula_id: @pelicula) %>
        <% @personajes =[] %>
          <% @rols.each do |roli| %>
          <% @personajes << roli.personaje %>
          <% end %>
        <% unless @personajes == nil %>
        <% @personajes1 = @personajes.uniq %>
              <% @personajes2 = @personajes1.sort_by(&:name) %>
              <% @personajes2.each_with_index do |per, index| %>
        <td><%= rol %></td>
        <td><%= per.name %></td>
        <td><%= per.id %></td>
        <td> <ul>
              <li>
                <% @rolos = Rol.where(personaje_id: per)%>
                <% @rolos.each do |rol| %>
                <%= rol.name %>//<%= rol.pelicula.titulo %>
                 <% end %>
              </li>
          </ul>
         </td>
        <td><%= link_to "doble", personaje_path(per), method: :delete, remote: true %>
          <% if per.genero == "Mujer" %>
            <%= link_to 'mujer', deactivate_personaje_path(per), class: 'btn btn-danger', method: :patch , remote: true %>
           <%= link_to 'Otro', empresa_personaje_path(per), method: :patch , remote: true %>
          <% elsif per.genero == "Hombre" %>
            <%= link_to 'hombre', activate_personaje_path(per), class: 'btn btn-primary',method: :patch , remote: true %>
            <%= link_to 'Otro', empresa_personaje_path(per), method: :patch , remote: true %>
          <% elsif per.genero == "Otro" %>
           <%= link_to 'hombre', activate_personaje_path(per), class: 'btn btn-primary',
               method: :patch , remote: true %>
          <%= link_to 'mujer', deactivate_personaje_path(per), class: 'btn btn-danger', method: :patch , remote: true %>
          <% end %>
            </td>
      </tr>
      <% end %>
            <% end %>
            <% end %>
  </table>
</div>
</div>
</div>
</div>
<div class="col-sm-2">
    <% if @pelicula.next != nil %>
      <%= link_to "#{@pelicula.next.titulo} >>", @pelicula.next %>
    <% end %>
</div>


</div>


