<div class="container">
  <div class="row">
    <div class="">
      <% if @pelicula.prev !=nil %>
     <%= link_to "<< #{@pelicula.prev.titulo}", @pelicula.prev %>
     <% end %>
    </div>
    <div class="col-sm">
      <table border = "1" bordercolor = "green" bgcolor = "">
        <tr>
          <th>Título</th>
          <th>Dirección</th>
          <th>Observar Imdb</th>
          <th>Otra Observacion</th>
        </tr>
        <tr>
          <td><%= @pelicula.titulo %></td>
          <td>
            <% @directors.each do |dir|%>
            <ul>
            <li><%= Personaje.find(dir.personaje_id).name %>
            </li></ul>
            <% end %>
            </td>
        </tr>
      </table>

      <table border = "1" bordercolor = "green" bgcolor = "">
      <tr>
        <th>Año</th>
        <td><%= @pelicula.agno %></td>
        </tr>
      <tr>
        <th>Responsable de Proyecto</th>
        <td><%= @pelicula.responsable %></td>
        </tr>
      <tr>
        <th>Monto Adjudicado</th>
        <% @fondo.each do |fondo| %>
        <td><%= fondo.monto %></td>
        <% end %>
        </tr>
      <tr>
        <th>Institución</th>
        <% @fondo.each do |fondo| %>
        <td><%= fondo.tipo %></td>
        <% end %>
        </tr>
      <tr>
        <th>Cantidad de Mujeres</th>
        <td><%= @mujer.count %></td>
        </tr>
      <tr>
        <th>Cantidad de Hombres</th>
         <td><%= @hombre.count %></td>
         </tr>
      <tr>
        <% if @mujer.count != nil  %>
           <% @total = @mujer.count + @hombre.count%>
          <%  @porcentaje = (@mujer.count * 100)/@total %>
        <th>Total</th>
        <td><%= @total %></td>
        </tr>
      <tr>
        <th>Porcentaje de Participación </th>
        <td><%= @porcentaje %></td>
        </tr>
        <% end %>
      <tr>
      </table>
<br>
  <div class="container-fluid inner">
  <table class="tableizer-table" id= "simple">
  <tr class="tableizer-firstrow">
<tr>
  <th>Número </th>
  <th>Título de película</th>
  <th>Nombre</th>
</tr>
<tr>
    <% @rols.each_with_index do |rol, index| %>
    <%= rol %>
  <th><%= index +1 %></th>
  <th><%= rol.pelicula.titulo %></th>
  <th><ul>
        <li data-rol-id="<%= rol.personaje.id %>"><%= rol.personaje.name %>
            <%= link_to personaje_path(rol.personaje), method: :delete, remote: true do %>
            <i class="fa fa-users" aria-hidden="true"></i>
            <% end %>
              <% if rol.personaje.genero == true %>
              <%= link_to 'mujer', deactivate_personaje_path(rol.personaje), class: 'btn btn-danger', method: :patch , remote: true %>
              <% elsif rol.personaje.genero == false %>
              <%= link_to 'hombre', activate_personaje_path(rol.personaje), class: 'btn btn-primary',
              method: :patch , remote: true %>
              <% end %>
           </li>

        <ul>
    </th>
</tr>
 <% end %>
 </table>
    </div>
    <div class="">
    <%= link_to "#{@pelicula.next.titulo} >>", @pelicula.next %>
    </div>
  </div>
</div>
