<div class="container">
  <div class="row">
    <div class="col-sm">
      <% if @pelicula.prev !=nil %>
     <%= link_to "<< #{@pelicula.prev.titulo}", @pelicula.prev %>
     <% end %>
    </div>
    <div class="col-sm">
      <table border = "1" bordercolor = "green" bgcolor = "">
        <tr>
          <th>Título</th>
          <th>Dirección</th>
        </tr>
        <tr>
          <td><%= @pelicula.titulo %></td>
          <% @directors.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
        </tr>
      </table>

      <table border = "1" bordercolor = "green" bgcolor = "">
      <tr>
        <th>Año</th>
        <th>Responsable de Proyecto</th>
        <th>Monto Adjudicado</th>
        <th>Institución</th>
        <th>Cantidad de Mujeres</th>
        <th>Cantidad de Hombres</th>
        <th>Total</th>
        <th>Porcentaje de Participación </th>
      </tr>
      <tr>
        <td><%= @pelicula.agno %></td>
        <td><%= @pelicula.responsable %></td>
        <td><%= @pelicula.monto %></td>
        <td><%= @pelicula.institucion %></td>
        <td><%= @mujeres.count %></td>
        <td><%= @hombres.count %></td>
        <td><%= @total %></td>
        <td><%= @porcentaje_mujeres %></td>
      </tr>
      </table>
<br>
        <table border = "1" bordercolor = "green" bgcolor = "">
        <tr>
          <th>Ficha Técnica</th>
        </tr>
        <tr>
          <th>Cargo</th>
          <th>Nombre</th>
        </tr>
        <tr>
          <th>Dirección Arte</th>
           <% @artes.each do |dir|%>
             <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Asistente de Dirección</th>
          <% @asistentdires.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Dirección de Fotografía</th>
          <% @direfotos.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Producción</th>
          <% @productors.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Empresa Productora</th>
          <% @casaprod.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Producción Ejecutiva</th>
          <% @productorejecutivos.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Producción Asociada</th>
          <% @productorasociados.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Jefatura de Producción</th>
          <% @jefedeproduccion.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Guión</th>
          <% @guiones.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Montaje</th>
           <% @montajistas.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Efectos Especiales</th>
          <% @efectoss.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Voz en off</th>
          <% @vozenoffs.each do |dir|%>
           <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Vestuario</th>
          <% @vestuarios.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Sonido</th>
          <% @sonidos.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Realización</th>
          <% @realizacions.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Maquillaje</th>
          <% @maquillajes.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
        <tr>
          <th>Música</th>
          <% @musicas.each do |dir|%>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
            </tr>
      </table>
<br>
     <div class="col-sm">
        <table border = "1" bordercolor = "green" bgcolor = "">
        <tr>
          <th>Ficha Artística</th>
        </tr>
          <tr>
          <th>Nombre</th>
        </tr>
          <% @elenco.each do |dir|%>
          </tr>
            <td><%= Personaje.find(dir.personaje_id).name %></td>
            <% end %>
        </table>
    </div>
    <div class="col-sm">
    <%= link_to "#{@pelicula.next.titulo} >>", @pelicula.next %>
    </div>
  </div>
</div>
